@charset "utf-8";

main {
    min-width: 1200px;
}

#messages {
    overflow: auto;
    height: calc(100vh - 140px);
}

.h1 {
    font-size: 40px  !important;
}

hr {
    border: 1px solid #fff !important;
    background : #fff !important;
    opacity: 0.80;
}